<header class="header" id="header">
    <div class="header-wrapper">
        <a href="#header" class="header-link">Christopher II</a>
        <nav class="nav" [class.mobile-nav]="isMenuOpen">
            <ul class="list-inline">
                <li>
                    <a href="#header">Home</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#header">Articles</a>
                </li>
                <li>
                    <a href="#header">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="header-actions">
            <app-button (click)="isMenuOpen = false" type="icon" iconName="close" class="btn-close" [class.btn-visible]="isMenuOpen"></app-button>
            <app-button (click)="isMenuOpen = true" type="icon" iconName="menu" class="btn-menu" [class.btn-visible]="!isMenuOpen"></app-button>
        </div>
    </div>
</header>
