.header {
    background-color: #444;
}

.header-wrapper {
    padding: 1.5rem 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li:not(:last-child) {
    margin-right: 1.75rem;
}

a {
    font-size: 1.1rem;
    color: #f1f1f1;
    transition: color .4s;

    &:hover {
        color: #fefefe;
    }
}