<header class="header" id="header">
    <div class="header-wrapper">
        <a href="#header">Christopher II</a>
        <nav>
            <ul class="list-inline">
                <li>
                    <a href="#header">Home</a>
                </li>
                <li>
                    <a href="#header">Projects</a>
                </li>
                <li>
                    <a href="#header">Articles</a>
                </li>
                <li>
                    <a href="#header">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>