<div class="hero">
    <div class="hero-wrapper">
        <div class="hero-image-container">
            <img src="/assets/hero-profile.jpeg" alt="An image of Christopher II">
        </div>
        <div class="hero-content-wrapper">
            <div class="hero-content">
                <h1 class="hero-title">Christopher II</h1>
                <p class="hero-desc">An expert for creating beautiful and fast websites. Helping businesses to have an 80% faster and SEO-friendly websites.</p>
            </div>
            <div class="hero-actions">
                <div class="links">
                    <a href="#">Projects</a>
                    <!-- <a href="#">Testimonials</a> -->
                    <a href="#">Articles</a>
                </div>
            </div>
        </div>
        <div class="hero-cta">
            <span class="cta-text">
                <a href="#">Contact me</a> 
                to get a quote for your website.</span>
        </div>
    </div>
</div>